html{
    scroll-behavior: smooth;
}
body{
    width: 90%;
    margin: auto;
}
.menu{
    width: 100%;
    overflow: hidden;
    background-color: #2f4858;
    position: relative;  
}
.menu #hideLinks{
    display: none;
}
.menu a{
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;  
}
.menu a.icon {
    background: #f26419;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
.menu a:hover {
    background-color: #86bbd8;
    color: black;
  }
.home{
    background-color: #33658a;
    color: white;
}
#about{
    height: 100%;
}
#objectives{
    margin-top: 100%;
}
#vision_mission{
    margin-top: 100%;
}
#call_action{
    margin-top: 100%;
}


@media only screen and (min-width: 768px) {
    body{
        width: 960px;
        margin: auto;
    }
}
