html{
    scroll-behavior: smooth;
}

body{
    width: 90%;
    margin: auto;
}


#objectives{
    margin-top: 200%;
}
#vision_mission{
    margin-top: 300%;
}
#call_action{
    margin-top: 400%;
}

@media only screen and (min-width: 768px) {
    body{
        width: 960px;
        margin: auto;
    }
}
