html{
    scroll-behavior: smooth;
}
#content_body{
    width: 90%;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    line-height: 130%;
}
h1{
    font-size: 1.7em;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .5em;
}


.menu{
    width: 100%;
    overflow: hidden;
    background-color: #2f4858;
    position: relative;  
}
.menu #hideLinks{
    display: none;
}
.menu a{
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;  
}
.menu a.icon {
    background: #f26419;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
.menu a:hover {
    background-color: #86bbd8;
    color: black;
  }
.home{
    background-color: #33658a;
    color: white;
}


.checked{
    color: orange;
}
#top_container{
    width: 100%;
    height: 45%;
}
#skill_section{
    width: 45%;
    padding-bottom: 1em;
    float: left;
    line-height: 120%;
}
#skill_section h3{
    text-align: center;
    font-size: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
#skill_section ul{
    text-align: center;
}

#project_section{
    margin-left: 45%;
    padding-bottom: 1em;
    line-height: 120%;
}
#project_section h3{
    text-align: center;
    font-size: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
#project_section ul{
    text-align: center;
}
.project_icon{
    width: 20%;
}

#home_footer{
    text-align: center;
}
#home_footer h3{
    text-align: center;
    font-size: 2em;
    padding-bottom: 0.5em;
}
#home_footer p{
    padding-top: 0.5em;
}
.social_media_img{
    width: 20%;
    margin-left: 9%;
}



img{
    max-width: 100%;
}


#home_screen{
    height: 100vh;
}

#about{
    margin-top: 30%;
    height: 100vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    line-height: 130%;
    text-align: center;
}
#about h2{
    text-align: center;
    font-size: 1.5em;
    padding-top: 1em;
    padding-bottom: 0.5em;
}
#about_image{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#objectives{
    height: 100vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
}
#objectives h2{
    text-align: center;
    font-size: 1.5em;
    padding-top: 1em;
    padding-bottom: 0.5em;
}
#objectives_image{
    width: 90%;
}

#vision_mission{
    height: 100vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    line-height: 130%;
    text-align: center;
}
#vision_mission h2{
    text-align: center;
    font-size: 1.5em;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

#call_action{
    height: 100vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;

}
#call_action h2{
    text-align: center;
    font-size: 1.5em;
    padding-top: 1em;
    padding-bottom: 0.5em;
}


@media only screen and (min-width: 960px) {
    #content_body{
        width: 960px;
        margin: auto;
    }
    h1{
        height: 10vh;
        font-size: 5em;
    }

    #top_container{
        width: 100%;
        height: 40%;
    }
    #project_left{
        width: 45%;
        float: left;
    }
    #project_right{
        margin-left: 45%;
    }

    .social_media_img{
        width: 10%;
    }


    #about{
        text-align: left;
    }
    #about_image{
        width: 50%;
        float: left;
    }
    #about_text{
        text-align: center;
        width: 50%;
        margin-left: 50%;
        margin-top: 25%;
    }

    #objectives{
        text-align: center;
    }
    #objectives_text{
        margin-top: 25%;
    }
    #objectives_image{
        width: 50%;
        float: right;
    }

}
